/*
*
* Copyright (c) 2024 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define QWERTY 0
#define SYMBOLS 1
#define NUMBERS 2
#define EXTRA 3
#define NAV 4

/ {
    behaviors {
        dt: double_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <180>;
            bindings = <&kp SEMI>, <&kp COLON>;
        };

        mk: mk {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&sk>;
        };

        ht_repeat: ht_repeat {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&key_repeat>;
        };

        sqt_space: sqt_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp SQT &kp SPACE>;
        };

        dqt_space: dqt_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp DQT &kp SPACE>;
        };

        grv_space: grv_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp GRAVE &kp SPACE>;
        };

        tilde_space: tilde_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp TILDE &kp SPACE>;
        };

        caret_space: caret_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp CARET &kp SPACE>;
        };

        ccedil: ccedil {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp SQT &kp C>;
        };

        esc_shf_kps: esc_shift_caps_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <180>;
            bindings = <&mt LSHIFT ESC>, <&kp CAPSLOCK>;
        };

        alt_to: alt_or_to_layer {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <180>;
            bindings = <&kt LALT>, <&to EXTRA>;
        };
        spc_l: space_or_layer {
            compatible = "zmk,behaviour-tap-dance";
            #binding-cells =  <0>;
            tapping-term-ms = <180>;
            bindings = <&kp SPACE>, <&mo SYMBOLS>;
        };
        ent_l: enter_or_layer {
            compatible = "zmk,behaviour-tap-dance";
            #binding-cells =  <0>;
            tapping-term-ms = <180>;
            bindings = <&kp ENTER>, <&mo SYMBOLS>;
        };
        bksp_l: backspace_or_layer {
            compatible = "zmk,behaviour-tap-dance";
            #binding-cells =  <0>;
            tapping-term-ms = <180>;
            bindings = <&kp BSPC>, <&mo NUMBERS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

                qwerty_layer {
                     display-name = "QWERTY";
                     bindings = <
   &kp Q               &kp W               &kp E               &kp R               &kp T               &kp Y               &kp U               &kp I               &kp O               &kp P
   &mt LSHFT A         &kp S               &kp D               &mt LSHFT F         &kp G               &kp H               &kp J               &kp K               &kp L               &dt
   &mt LGUI Z          &kp X               &kp C               &kp V               &kp B               &kp N               &kp M               &kp COMMA           &kp DOT             &mt LALT FSLH
                                           &alt_to      &bksp_l            &mt LCTRL TAB               &esc_shf_kps        &spc_l        &ent_l
                        >;
                };
                symbols_layer {
                     display-name = "SYMBOLS";
                     bindings = <
   &kp EXCL     &kp AT      &kp HASH     &kp DLLR   &kp PRCNT                &kp CARET  &kp AMPS    &kp KP_MULTIPLY  &kp LPAR   &kp RPAR
   &kp C_PREV   &kp C_PP    &kp C_NEXT   &trans     &trans                   &kp MINUS  &kp EQUAL   &kp LBKT         &kp RBKT   &kp BSLH
   &trans       &trans      &trans       &kp TILDE  &kp GRAVE                &kp UNDER  &kp PLUS    &kp LBRC         &kp RBRC   &kp PIPE
                        &kp LCTRL        &kp BSPC   &kp DEL                  &kp RET    &kp SPACE   &trans
                        >;
                };
                numbers_layer {
                    display-name = "NUMBERS";
                    bindings = <
   &kp N1       &kp N2      &kp N3      &kp N4      &kp N5                     &kp N6    &kp N7      &kp N8      &kp N9      &kp N0
   &kp F1       &kp F2      &kp F3      &kp F4      &kp F5                     &kp LEFT  &kp DOWN    &kp UP      &kp RIGHT   &kp F11
   &bt BT_CLR   &bt BT_PRV  &bt BT_NXT  &trans      &trans                     &kp F6    &kp F7      &kp F8      &kp F9      &kp F10
                            &kp LCTRL   &kp BSPC    &kp DEL                    &kp RET   &kp SPACE   &kp RALT
                        >;
               };
                extra_layer {
                     display-name = "EXTRA";
                     bindings = <
   &kp LS(LC(LA(N9)))  &kp LS(LC(LA(N8)))  &kp LS(LC(LA(N7)))  &kp LS(LC(LA(N6)))  &kp LS(LC(LA(N5)))  &kp F12             &kp F7              &kp F8              &kp F9              &kp F15
   &sk LGUI            &sk LALT            &sk LCTRL           &sk LSHFT           &kp LS(LC(LA(AT)))  &kp F11             &kp F4              &kp F5              &kp F6              &kp F14
   &kp LS(LC(LA(N4)))  &kp LS(LC(LA(N3)))  &kp LS(LC(LA(N2)))  &kp LS(LC(LA(N1)))  &kp LS(LC(LA(N0)))  &kp F10             &kp F1              &kp F2              &kp F3              &kp F13
                                           &studio_unlock      &none               &bootloader         &bt BT_PRV          &bt BT_NXT          &bt BT_CLR
                        >;
                };
                navigation_layer {
                    display-name = "NAV";
                    bindings = <
   &kp CAPSLOCK        &kp HOME            &kp UP              &kp END             &kp LS(LC(LA(LG(N3)))) &kp LS(LC(LA(LG(N6)))) &kp TAB             &kp ENTER           &kp ESC             &kp LS(LC(LA(LG(N9))))
   &caps_word          &kp LEFT            &kp DOWN            &kp RIGHT           &kp LS(LC(LA(LG(N2)))) &kp LS(LC(LA(LG(N5)))) &kp C_MUTE          &kp C_VOL_DN        &kp C_VOL_UP        &kp LS(LC(LA(LG(N8))))
   &kp INS             &kp PG_DN           &kp DEL             &kp PG_UP           &kp LS(LC(LA(LG(N1)))) &kp LS(LC(LA(LG(N4)))) &kp C_PP            &kp C_PREV          &kp C_NEXT          &kp LS(LC(LA(LG(N7))))
                                           &none               &kp LS(LC(LA(LG(N0)))) &kp SPACE           &bootloader            &none               &none
                           >;
                };
                layer5 {
                    status = "reserved";
                };

                layer6 {
                    status = "reserved";
                };

                layer7 {
                    status = "reserved";
                };

                layer8 {
                    status = "reserved";
                };

                layer9 {
                    status = "reserved";
                };

                layer10 {
                    status = "reserved";
                };
    };
};
